.shopabled-navbar {
  background-color: #8A572F;
  color: #fff;
  // padding: 0;
    & .title {
      font-size: 2em;
    }
    & .ion-navicon {
      background-color: #9CCA5D;
      color: black;
      position: absolute;
    }
}

.shopabled-add {
  background-color: #9CCA5D;
  color: #fff;
  padding: 0 40px 0 40px;
  border-radius: 25px;
}

.button-cancel {
  padding: 0 35px 0 35px;
  border-radius: 25px;
}

.shopabled-tabs {
  background-color: #8A572F;
  color: #fff !important;
    &:Hover {
      background-color: #9CCA5D !important;
      color: black;
    }
}

.button-center {text-align: center;}

.hide-form {
  display: none;
}

// .button-row {background-color: yellow; padding-left: 10px;}
