<ion-view view-title="ShopAbled">
  <ion-content>

    <div class="bar bar-header bar-energized">
      <h1 class="title">ShopAbled</h1>
      <!-- <button class="button">Edit</button> -->
      <button class="button icon ion-navicon"></button>

    </div>
    <!-- List -->

    <div class="list">
      <label class="item item-input">
        <span class="input-label">Carrots</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Celery</span>
        <input type="password">
      </label>
    </div>

    <!-- Add/Cancel Buttons -->
    <div class="row">
      <div class="col-xs-6" style="text-align: center; margin-top: 200px;">
        <button class="button button-dark">
          Cancel
        </button>
      </div>
      <div class="col-xs-6" style="text-align: center; margin-top: 200px;">
        <button class="button button-balanced">
          Add
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
