<ion-view view-title="ShopAbled">
  <ion-content>

    <form name="frm" ng-submit="addTodo()">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" name="newTodo" ng-model="newTodo" placeholder="New Item" required />
        </label>
      </div>
    </form>

    <div class="card">
      <div class="item item-divider">
        <div class="col-xs-6 button-center">
          <button class="button button-medium button-dark button-cancel" ng-click="clearCompleted()">Clear</button>
        </div>
        <div class="col-xs-6 button-center">
          <button class="button button-medium shopabled-add" ng-disabled="frm.$invalid" ng-click="addTodo()">Add</button>
        </div>
      </div>
    </div>

    <ion-scroll zooming="true" direction="y" style="width: 500px; height: 500px">
      <ion-list>
        <ion-item ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done"/>
          <span ng-class="{'done':todo.done}">{{todo.title}}</span>
        </ion-item>
      </ion-list>
    </ion-scroll>

  </ion-content>
</ion-view>
